# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/
ENV.bak/

# Development
*.sqlite3
db.sqlite3
db.sqlite3-journal

# IDE
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.out
*.pyz
*.pyw
*.pyi
